@mixin search {
	input {
        border:none;
        outline: none;
        box-shadow: none;
        background: #f2f3f5;
        &:focus {
            background: transparent;

        }
    }
    i {
        color: $color-red-0;
        background: #f2f3f5;
        padding: 10px 15px;
        cursor: pointer;
        text-align: center;
        transition: all .3s ease-out;
        &:hover {
            background-color: #ec5252;
            color: #fff;
        }
    }
}
@mixin flex($align-center,$justify-center){
    display: flex;
    @if $align-center==center {
        align-items:center;
    }
    @if $justify-center==center{
        justify-content: center;
    }
    @if $justify-center==start{
        justify-content: start;
    }
    @if $align-center==start{
        align-items: start;
    }
}
@mixin pos-b-l($bottom,$left){
    position: absolute;
    bottom: $bottom;
    left:$left;
}
@mixin title{
    font-size: 24px;
    font-weight: 700;
    line-height: 1.33em;
}
@mixin w768 {
    @media only screen and (max-width: 768px) {
     @content;
    }
}