.banner{
    margin-top: 53px;
    .banner__content{
        .img__h1{
            background-image: url(../img/phim2.jpg);
            background-size: cover;
            background-repeat: no-repeat;
            height: 90vh;
            width: 100%;
        }
        .img__h2{
            background-image: url(../img/phim2.jpg);
            background-size: cover;
            background-repeat: no-repeat;
            height: 90vh;
            width: 100%;
        }
        .img__h3{
            background-image: url(../img/phim1.jpg);
            background-size: cover;
            background-repeat: no-repeat;
            height: 90vh;
            width: 100%;
        }
        .img__h4{
            background-image: url(../img/phim4.jpg);
            background-size: cover;
            background-repeat: no-repeat;
            height: 90vh;
            width: 100%;
        }
        .img__h5{
            background-image: url(../img/phim5.jpg);
            background-size: cover;
            background-repeat: no-repeat;
            height: 90vh;
            width: 100%;
        }
        .owl-dots{
            position: absolute;
            bottom: 65px;
            left: 0;
            width: 100%;
            text-align: center;
            z-index: 2;

        }
        .owl-dot{
            width: 12px;
            height: 12px;
            border-radius: 50%;
            margin: 0 5px;
            background-color: #d8d8d8;
            outline: none;
            &.active {
                background-color: #fb4226;
            }
        }
        .owl-prev,.owl-next{
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            img {
                width: 50px;
            }
         }
         .owl-prev {
             left: 35px;
         }
         .owl-next{
            right: 35px;
         }
    }
}