.contact{
    .contact__content{
        background-image: url(../img/bg.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        color: white;
        padding: 80px 0;
        .contact__pr{
            align-items: center;
            .contact__app{
                h1{
                    font-size: 30px;
                    margin-bottom: 20px;
                }
                button{
                    background-color: #fa5238;
                    color: white;
                    border: none;
                    padding: 7px 20px;
                    border-radius: 5px;
                    margin-bottom: 10px;
                }
                .version{
                    font-size: 13px;
                }
                a{
                    text-decoration: underline;
                    color: white;
                }
            }
            .contact__img{
                position: relative;
                .mobile{
                    width: 212px;
                }
                .mobile__content{
                    position: absolute;
                    width: 34%;
                    top: 3%;
                    left: 50%;
                    transform: translateX(-50%);
                    border-radius: 10%;
                    overflow: hidden;
                    img{
                        width: 100%;
                    }
                }
            }
        }
        
    }
    .contact__partner{
        background-color: #222;
        .partner__content{
            display: flex;
            margin: 0px auto;
            
            padding: 20px 0;
            border-bottom: solid 1px rgba(255, 255, 255, 0.308);
            a{
                color: #949494;
                text-decoration: none;
                font-size: 13px;
            }
            h1{
                font-size: 11px;
                color: white;
            }
            
            .partner__item2{
                img{
                    width: 8%;
                    border-radius: 50%;
                    margin: 8px;
                }
            }
            .partner__item3{
                display: flex;
                img{
                    width: 15%;
                    margin: 10px 2px;
                }
            }
            
        }
        .contact__address{
            .address__item{
                display: flex;
                justify-content: space-between;
                margin-top: 20px;
                .address{
                    margin-right: 30px;
                    margin-left: 10px;
                    a{
                        text-decoration: none;
                        color: #fa5238;
                    }
                }
                h1{
                    font-size: 12px;
                    color: white;
                }
                p{
                    color: #949494;
                    font-size: 12px;
                }
                .img1{
                    width: 10%;
                    height: 35px;
                    border-radius: 4px;
                }
                .img2{
                    width: 130px;
                    height: 55px;
                }
            }
        }
    }
}